/**
 * ServerHub Doc Page Stylesheet
 * 
 * ServerHub MVC Doc, MIT License
 * March 15, 2018
 * Yang Zhongdong (yangzd1996@outlook.com)
 */

body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, 'Microsoft YaHei', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #424242;
}

* {
    font-size: 16px;
}

header {
    background-color: #FFFFFF;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 64px;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, .3);
    z-index: 4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Mono', 'Courier New', Courier, 'Microsoft YaHei', monospace;
    width: max-content;
    max-width: 100%;
}

h1>code,
h2>code,
h3>code,
h4>code,
h5>code,
h6>code {
    word-wrap: break-word;
}

h1 {
    font-size: 28px;
    border-bottom: 1px solid rgba(66, 66, 66, .5);
}

h1 code {
    font-size: 27px;
}

h2 {
    font-size: 24px;
    border-bottom: 1px solid rgba(99, 99, 99, .2);
}

h2 code {
    font-size: 23px;
}

h3 {
    font-size: 20px;
}

h3 code {
    font-size: 19px;
}

h4 {
    font-size: 18px;
}

h4 code {
    font-size: 17px;
}

h5 {
    font-size: 17px;
}

h5 code {
    font-size: 16px;
}

h6 {
    font-size: 16px;
}

h6 code {
    font-size: 15px;
}

ul li {
    margin: 8px 0;
}

ul.monospace li {
    font-family: "Roboto Mono", 'Courier New', Courier, 'Microsoft YaHei', monospace;
}

a {
    text-decoration: none;
    color: #2196f3;
}

a:focus,
a:active,
a:visited {
    color: #2196f3;
}

a:hover {
    text-decoration: underline;
}

p {
    line-height: 27px;
}

code {
    font-size: 14px;
    background-color: #f0f0f0;
    border-radius: 3px;
    padding: 0 4px;
}

pre>code * {
    font-size: initial;
}

header div.serverhub-logo {
    height: calc(100% - 32px);
    position: absolute;
    top: 16px;
    left: calc(50% - 75.22px);
}

header div.serverhub-logo img {
    height: 100%;
    width: auto;
    display: block;
}

main {
    position: absolute;
    top: 64px;
    z-index: 3;
    display: block;
    width: 100%;
    height: calc(100% - 96px);
    overflow: auto;
}

main section.screen {
    display: block;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
}

main div.content {
    display: block;
    position: absolute;
    max-width: 800px;
    left: calc(50% - 400px);
    padding-bottom: 32px;
    width: 100%;
}

main div.content ul {
    overflow-x: auto;
}

@media (max-width:800px) {
    main div.content {
        left: 16px;
        right: 16px;
        width: calc(100% - 32px);
    }
}

main div.content div.nav {
    display: flex;
    justify-content: space-between;
    height: 48px;
    line-height: 48px;
    width: 100%;
}

main div.content div.nav span {
    display: block;
    text-transform: uppercase;
    height: 100%;
    font-weight: bold;
}

main div.content p img {
    transition: box-shadow ease-in-out 200ms;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .3), -1px 0 9px 0 rgba(0, 0, 0, .3);
    border-radius: 5px;
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 360px;
}

@media (max-height: 600px) {
    main div.content p img {
        max-width: 180px;
    }
}

main div.content p img:hover {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .2), -1px 2px 20px 0 rgba(0, 0, 0, .2);
}

footer {
    position: fixed;
    bottom: 0;
    height: 32px;
    display: block;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 100%;
    z-index: 4;
    line-height: 32px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

@media (min-width: 800px) {
    footer span.g800-only {
        display: inline;
    }
    footer span.s800-only {
        display: none;
    }
}

@media (max-width: 799.9px) {
    footer span.g800-only {
        display: none;
    }
    footer span.s800-only {
        display: inline;
    }
}

footer span,
footer a,
footer i,
footer b {
    font-size: 12px;
}

div.non-list-style ul {
    list-style: none;
}

div.ul-directory {
    font-family: "Roboto Mono", 'Courier New', Courier, monospace;
    font-size: 14px;
}

div.ul-directory ul {
    padding-left: 0;
    box-sizing: border-box;
    color: #505050
}

div.ul-directory ul li {
    padding: 0 0 0 8px;
    margin: 0 0 0 16px;
    color: #666666;
    border-left: 2px solid #9e9e9e;
}

div.ul-directory span.comment {
    color: #388e3c;
    font-size: 14px;
}

span.version-label {
    background-color: #666666;
    padding: 2px 8px;
    font-size: 12px;
    color: #ffffff;
    border-radius: 10px;
    font-weight: normal;
}

ul.no-list-style {
    list-style: none;
    padding-left: 16px;
}

ul.no-list-style p {
    margin-top: 8px;
    margin-bottom: 8px;
}

ul.no-list-style ul.no-list-style {
    list-style: none;
    padding-left: 8px;
}